@tailwind base;
@tailwind components;
@tailwind utilities;
@layer screens {
  @media (max-width: 768px) {
    .liitems {
      display: flex;
      flex-direction: column;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  font-size: 14px;
  padding: 5px;
}
